@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import "./../../../variables.scss";

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.statistics{
  margin-top: 2em;
}
.statisticCard{
  background: #C4C4C4;;
  height: 50vh;
}
.dataCard{
  padding-right:10px;
  width: 250px !important;
}
