.container-fluid{
    width: 100%;
}
.container-header{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.filters{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    div{
        display: flex;
        width: 30%;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        img{
            width: 20px;
            height: 20px;
        }
        h4{
            font-size: 14px;
        }
    }
    div:nth-child(2){
        width: 50%;
    }
}
.products-wrappers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}
.product-container{
    width: 30%;
    height: 350px;


}
.img-card{
    width: 100%;
    height: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    img:nth-child(1){
      width: 20px;
      height: 20px;
      position: relative;
      top: 5%;
      left: 90%;
      z-index: 5;
      cursor: pointer;
    }
    img:nth-child(1):hover{
      transform: scale(1.1);
    }
    img:nth-child(2){
        z-index: 0;
        position: absolute;
        left: 0;
    }

}

.product-labels{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-price-wrapper{
    width: 80%;
    h5{
        font-size: 15px;
        small{
            display: block;
            padding-top: 1em;
            font-size: 13px;
            color: rgb(151, 151, 151);
        }
    }
}
.cart-wrapper{
    width: 15%;
    img:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
}
