<div class="container-fluid">
  <div class="container-header">
    <h4>New products</h4>
    <div class="filters">
      <div>
        <h4>Filters</h4>
        <img src="../../../../assets/icons/black-select-icon.png" alt="select icon">
      </div>
      <div>
        <h4>Solt by latest</h4>
        <img src="../../../../assets/icons/black-select-icon.png" alt="select icon">

      </div>
    </div>
  </div>
  <div class="products-wrappers">
    <!--Start product container-->
    <div class="product-container">
      <div class="img-card">
        <img src="../../../../assets/icons/like-icon.png" alt="like icon">
        <img src="../../../../assets/images/watch.png" alt="product image">

      </div>
      <div class="product-labels">
        <div class="name-price-wrapper">
          <h5>Apple watch <small>$500</small></h5>
        </div>
        <div class="cart-wrapper">
          <img id="product-1" (mouseenter) = "onCartMouseEnter(true,'product-1')"
          (mouseleave) = "onCartMouseEnter(false,'product-1')" src={{cartIconURL}} alt="cart image">
        </div>
      </div>
    </div>
    <!--End product container-->
    <!--Start product container-->
    <div class="product-container">
      <div class="img-card">
        <img src="../../../../assets/icons/like-icon.png" alt="like icon">
        <img src="../../../../assets/images/Rectangle 33.png" alt="product image">

      </div>
      <div class="product-labels">
        <div class="name-price-wrapper">
          <h5>4k Hisense TV <small>$200</small></h5>
        </div>
        <div class="cart-wrapper">
          <img id="product-2" (mouseenter) = "onCartMouseEnter(true,'product-2')"
          (mouseleave) = "onCartMouseEnter(false,'product-2')" src={{cartIconURL}} alt="cart image">
        </div>
      </div>
    </div>
    <!--End product container-->
    <!--Start product container-->
    <div class="product-container">
      <div class="img-card">
        <img src="../../../../assets/icons/like-icon.png" alt="like icon">
        <img src="../../../../assets/images/Rectangle 32.png" alt="product image">

      </div>
      <div class="product-labels">
        <div class="name-price-wrapper">
          <h5>Flat bed <small>$800</small></h5>
        </div>
        <div class="cart-wrapper">
          <img id="product-3" (mouseenter) = "onCartMouseEnter(true,'product-3')"
          (mouseleave) = "onCartMouseEnter(false,'product-3')" src={{cartIconURL}} alt="cart image">
        </div>
      </div>
    </div>
    <!--End product container-->
  </div>
</div>
