<div class="container-fluid">
  <div class="sidebar-shop">
    <ul>
        <li>
            <img src="../../../assets/icons/star-icon.svg" alt="star icon">
            <h5>New Products</h5>
        </li>
        <li>
            <img src="../../../assets/icons/discount-icon.svg" alt="discount icon">
            <h5>On Discount</h5>
        </li>
        <li>
            <img src="../../../assets/icons/plug.svg" alt="plug icon">
            <h5>Electronics</h5>
        </li>
        <li>
            <img src="../../../assets/icons/case-icon.svg" alt="case icon">
            <h5>Office</h5>
        </li>
        <li>
            <img src="../../../assets/icons/smart-home-light.svg" alt="light icon">
            <h5>Home applience</h5>
        </li>
        <li>
            <img src="../../../assets/icons/cap.svg" alt="cap icon">
            <h5>Fashion</h5>
        </li>
        <li>
            <img src="../../../assets/icons/brush.svg" alt="star icon">
            <h5>Cosmatics</h5>
        </li>
        <li>
            <img src="../../../assets/icons/gift.svg" alt="star icon">
            <h5>Gifts and Toys</h5>
        </li>
    </ul>
</div>
</div>
