<div class="container-fluid">
  <div class="nav-container">
    <div class="primary-nav-container">
      <div class="bland-logo-wrapper">
          <div class="logo-wrapper">
              <img src="./../../../assets/icons/shopping-cart-icon.png" alt="cart icon" srcset="">
          </div>
          <h4>E-commerce</h4>
      </div>
      <div class="search-input-wrapper">
         <input type="text" placeholder="Search products">
         <img src="./../../../assets/icons/search-icon.png" alt="search icon">
      </div>
      <div class="top-icons-wrapper">
        <img src="../../../assets/icons/profile-icon.png" alt="profile icon">
        <img src="../../../assets/icons/like-icon.png" alt="like icon">
        <img src="../../../assets/icons/shopping-bag-icon.png" alt="shopping bag icon">
      </div>
    </div>
    <!--Secondar nav-->
    <div class="secondary-nav-container">
       <div class="select-btn">
          <ul>
            <li>
              <img src="../../../assets/icons/vector-icon.png" alt="vector icon">
            </li>
            <li>Browse by category</li>
            <li>
              <img src="../../../assets/icons/select-icon.png" alt="select icon">
            </li>
          </ul>
       </div>
       <div class="navs-container">
          <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>Contact</li>
          </ul>
       </div>

    </div>
  </div>

</div>
