.content-wrapper{
    padding: 0% 2% 0% 2%;
    display: flex;
    justify-content: space-between;
}
.sidebar{
    // background-color: green;
    width: 15%;
}
.products-container{
    // background-color: yellow;
    width: 75%;
}