@import "src/variables.scss";
.container{
  box-sizing: content-box;
}
.top-desc {
  margin-top:4em;
  text-align:center;
  }
  .top-desc a{
   text-decoration:none;
   text-align:center;
   color:$base-color;
   }
.activeSpan{
  background-size: cover;
  color: $base-color !important;
  border-left: 2px solid $base-color;
  // background-color: $side-border;
 }
 .activeSpan svg{
   fill: $base-color;
 }
.sidebar {
  margin: 0;
  padding: 0;
  width: 125%;
  height: 100vh;
  overflow: auto;
  margin-left: -1em;
  box-shadow: 0px 0px 2px 1px rgba(100, 100, 100, 0.2);
}
.sidebar svg{
  width: 20px;
  margin-right: 0.6em;
}
.nav-linnks{
    margin-top: 8em;
    // font-weight: 200;
}
.nav-linnks a {
  margin-top:0.5em;
  display: block;
  color: black;
  padding: 12px;
  font-size: 15px;
  text-decoration: none;
  // font-weight: lighterS;
}
  .nav-links img{
     width:20px;
     margin-right:10px;
    //  margin-top:0.5em;
    }
.fa{
    font-size: 20px;
}

.sub-nav-link{
 cursor: pointer;
}
.hvr{
  margin-right: 5%;
  color:black !important
}
.footer{
  margin-top: 5em;
  padding: 10px;
  text-align: center;
}
.qn i{
  border-radius: 50%;
  width: 30px;
  height: 28px;
  border: 1px solid black;
  margin-top: 3em;
  margin-left: -5em;
}

.hlp{
  margin-left: -5.5em;
  margin-top: 5px;
}
@media only screen and (max-width:600px){
.sidebar{
  display: none;
}
}

@media all and (device-width: 768px) and (device-height: 1024px){
.sidebar svg{
  font-size: 10px;
  padding: 0;
}
}
